// .user {
// height: 100vh;
// height: 90vh;
// display: flex;
// flex-direction: column;
// justify-content: space-around;
// align-items: center;

// .navLink {
// text-decoration: none;
// font-size: 2rem;
        				
// p {
// font-size: 2.5rem;font-weight: bold;transition: .8s;color: #bdc3c7;margin: 0;
				
// &:hover {
// color: blue;filter: brightness(150%);text-decoration: underline;}
// }
// }

// p {
// margin: 0;
// }


// .form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding-bottom: .5rem;
  
// input {
//   width: 70%;
//   border-radius: .5rem;
//   font-size: 2rem;
//   margin-bottom: .9rem;
// }

// button {
//   width: 25%;
//   height: 4rem;
//   border-radius: .5rem;
//   background: #bdc3c7;
//   background: -webkit-linear-gradient(to right, #eaeaea, #deecff); 
//   background: linear-gradient(to right, #eaeaea, #deecff);
//   border: .3rem solid black;
//   transition: .8s;
  
//   &:hover {
//     border: .3rem solid red;
//   }

//   &:hover, i:hover {
//     color: red;
//   }
// }

// i {
//   font-size: 3rem;
// }
// }

// img {
//   border-radius: .7rem;
//   width: 50%;
//   height: 18rem;
// }



.user {
height: 90vh;
}

.off {
display:none;
}

.form {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
}

.inputs-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20rem;

    input {
      height: 3rem;
      font-size: 2rem;
    }
  }

  i {
    font-size: 6rem;
  }
}

//USER STYLING 

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  button {
    width: 25%;
    height: 5rem;
    border-radius: .5rem;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #eaeaea, #deecff); 
    background: linear-gradient(to right, #eaeaea, #deecff);
    border: .3rem solid black;
    transition: .8s;
    margin: 1rem;
    
    &:hover {
      border: .3rem solid red;
    }
    
    &:hover, i:hover {
      color: red;
    }
  }
  
  i {
    font-size: 3rem;
  }
}

.userStyling {
  display: flex;
  justify-content: space-around;
  width: 100%;
  
  .text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  p {
    font-size: 2rem;
    margin: .6rem;
  }
  
  span {
    font-weight: bold;
  }
}
