.start {

}

.log-reg {
  background-image: linear-gradient(
    to right bottom, rgba(185, 192, 183, 0.8), #d7d1c98c),url(./books.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; 
}