.single-book {

  .close {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    i {
      font-size: 2.5rem;

      &:hover {
        color: red;
      }
    }
  }

  .pic-next-to-main-data {
    display: flex;
    text-align: center;

    img {
      width: 33.3rem;
      height: 50rem;
    }

    .main-data {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }



  .reviews {
    display: flex;
    flex-direction: column;

    .review {
      display: flex;
      justify-content: space-around;

      .pic-name {
        width: 40%;

        img {
          border-radius: 50%;
        }
      }

      .review-text {
        width: 60%;
      }
    }
  }
}